#__nuxt, .grow
  height: inherit

#__nuxt
  max-height: inherit

.q-layout
  overflow: hidden

html, body
  height: 100vh
  max-height: 100vh

.d-flex
  display: flex
.flex-column
  flex-direction: column

.table-header
  display: flex
  flex-direction: space-between

body
  &.body
    &--dark
      background: #082b35
      .q-field--standout input, .q-field__append
        color: white !important
      .sticky-header
        .q-table__top,
        .q-table__bottom,
        thead tr:first-child th
          background-color: var(--q-dark)
      tr
        border-color: rgba(255, 255, 255, 0.28)
    &--light
      background: #f6fdff
      .sticky-header
        .q-table__top,
        .q-table__bottom,
        thead tr:first-child th
          background-color: white
      tr
        border-color: rgba(0, 0, 0, 0.12)
      .q-field--standout input, .q-field__append
        color: black !important

.q-field--standout .q-field__control
  background: #e7e7e7a3 !important
  box-shadow: none !important

.full-width
  width: 100%

.sticky-header
  thead tr th
    position: sticky
    z-index: 1
  thead tr:first-child th
    top: 0

  &.q-table--loading thead tr:last-child th
    top: 48px

  tbody
    scroll-margin-top: 48px